.input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
  width: 100%;
	input {
		position: relative;
		display: flex;
		width: 100%;
		height: 42px;
		padding: 10px 9px 10px 12px;
		align-items: center;
		gap: 8px;
		border-radius: 4px;
		border: 1px solid var(--border-default, rgba(0, 0, 0, 0.15));
		background: var(--secondary-default, #fff);
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		position: absolute;
	}
}

.btn-clear,
.btn-search {
	cursor: pointer;
	position: absolute;
	background-color: inherit;
	border: none;
}
.btn-clear {
	margin: 0px 8px;
	right: 50px;
}
.btn-clear svg {
	width: 16px;
	height: 16px;
}
.btn-search {
	right: 9px;
}
.btn-search svg {
	width: 24px;
	height: 24px;
	top: 0;
}
