.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	&__left {
		margin-right: 106px;
		.left-header {
			display: flex;
			flex-direction: column;
			margin-bottom: 54px;
			&__title {
				color: #000;
				font-size: 40px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			&__subtitle {
				color: #000;
				font-size: 32px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			&__paragraph {
				width: 390px;
				color: #4b4b4b;
				font-size: 16px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.64px;
			}
		}
		a {
			width: 200px;
			height: 45px;
			flex-shrink: 0;
			border-radius: 5px;
			background: #2e77e9;
			padding: 13px 40px;

			color: #fff;
			font-size: 16px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
	&__right {
		svg {
			width: 526px;
			height: 526px;
		}
	}
}
