.project-item {
  display: flex;
  flex-direction: column;
}
.block {
  display: flex;
  justify-content: space-between;
	border-bottom: 1px solid black;
  width: 900px;
}
.left span,
.rigth span {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #8e8e8e;
  margin-left: 16px;
}
