.select-block {
	display: flex;
	margin-right: 24px;

	button {
		width: 42px;
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0px 4px 4px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		border-left: 1px solid rgba(0, 0, 0, 0.15);
		border-right: 1px solid rgba(0, 0, 0, 0.15);
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		background: #fff;

    
		svg {
			width: 16px;
			height: 15.556px;
		}
	}
}

select {
	display: flex;
	width: 214px;
	height: 42px;
	padding: 10px 9px 10px 12px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
	border-radius: 4px 0px 0px 4px;
	border: 1px solid  rgba(0, 0, 0, 0.15);
	background:  #fff;
}
