.filter-search {
	display: flex;
	padding: 24px;
	justify-content: space-around;
	gap: 24px;
	align-items: center;

	&__select-block {
		display: flex;
	}

	&__btn {
		display: flex;
		width: 42px;
		height: 42px;
		padding: 9px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-shrink: 0;
		border-radius: 0px 4px 4px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		border-left: 1px solid rgba(0, 0, 0, 0.15);
		border-right: 1px solid rgba(0, 0, 0, 0.15);
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		background: #fff;
		cursor: pointer;

		&:hover {
			border: 1px solid rgba(18, 19, 22, 0.5);
			background: #ececef;
		}

		svg {
			width: 16px;
			height: 15.556px;
		}
	}

	&__add-task {
		text-decoration: none;
		padding: 12px 16px;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.15);
		background: #fff;

		color: #1c1c1c;
		font-size: 14px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&:hover {
			border: 1px solid rgba(18, 19, 22, 0.5);
			background: #ececef;
		}
	}
}
