* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$nav-bg-color: #1f75cb;
$main-color: white;
$text-hover-color: black;
$btn-color-hover: #ececef;

.navigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: $nav-bg-color;
	height: 90px;
	width: 100%;
	margin: 0 auto;

	&__list {
		display: flex;
		justify-content: flex-end;
		margin: 0;

		.navigation__item {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			margin-right: 24px;

			a,
      button {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				color: $main-color;
				text-decoration: none;
				background-color: inherit;
				border: 1px solid $main-color;
				padding: 12px 16px;
				border-radius: 4px;
			}

			a:hover,
      button:hover {
				cursor: pointer;
				color: $text-hover-color;
				background: $btn-color-hover;
				border: inherit;
			}

			.btn-active {
				background: $main-color;
				color: black;
			}
		}
	}

	.user-block {
		display: flex;
		flex-direction: column;
		.user-img {
			display: flex;
			align-items: center;
			margin-right: 72px;
			color: $main-color;
			text-decoration: none;
			background-color: inherit;
			box-sizing: border-box;
			border: none;
			padding: 12px 16px;
			border-radius: 4px;

			&:hover {
				cursor: pointer;
				outline: 1px solid $main-color;
			}

			&.active {
				background: $main-color;
				svg {
					color: #dcdcde;
				}
			}

			img {
				border-radius: 50%;
				margin-right: 8px;
			}
			svg {
				width: 12px;
				height: 8px;
			}
		}
		.setting-drop-down__list {
			display: none;
			width: fit-content;
			padding: 8px 0px;
			background: $main-color;

			&.open {
				display: block;
				position: absolute;
				top: 70px;
				right: 72px;
				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
			}

			.drop-down__item {
				padding: 8px 16px;
				list-style: none;
				cursor: pointer;
			}
		}
	}
}
