.container-form {
	display: none;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;

	.project-create {
		display: flex;
		width: 640px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		border-radius: 4px;
		background: #fff;
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

		hr {
			width: 100%;
			height: 1px;
			background: rgba(0, 0, 0, 0.15);
		}

		&__title {
			color: #000;
			font-family: Open Sans;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			padding: 16px;
		}

		&__form {
			display: flex;
			padding: 24px;
			align-items: flex-start;
			align-self: stretch;
			flex-direction: column;
			gap: 24px;
		}

		&__form-group {
			display: flex;
			width: 592px;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
		}

		&__label {
			display: flex;
			color: #8e8e8e;
			text-align: center;
			font-family: Open Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			gap: 4px;
			.required {
				color: red;
			}
		}

		&__input {
			display: flex;
			height: 42px;
			width: 100%;
			padding: 10px 12px;
			align-items: center;
			gap: 8px;
			flex: 1 0 0;

			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.15);
			background: #fff;

			&:focus {
				outline: none;
			}
		}
	}
	.btn-block {
		display: flex;
		// width: 640px;
		padding: 24px;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: row;
	}
}

.active {
	display: flex;
}
