* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--btn-color: #1f75cb;
  --btn-text-color: white;
}
body {
	padding: 100px;
}
.plug {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	padding: 150px 100px;
	flex-direction: column;
	width: 900px;
	margin: 0 auto;
}
span {
	margin-bottom: 10px;
}
button {
	width: 98px;
	height: 42px;
	background: var(--btn-color);
	border-radius: 4px;
	color: var(--btn-text-color);
	border: inherit;
	cursor: pointer;
}
